extends ../../../layouts/layout.pug

block content
  h1 Add Vendor
  a(href="/vendors") Back
  form(method="post")
    div
      label(for="name") Name 
      input(id="name" type="text" name="name" minlength="1" required)
    div
      label(for="email") Email 
      input(id="email" type="email" name="email" required)
    p=error
    button Add