extends ../../layouts/layout.pug

block content
  h1 Vendors
  ul
    li
      a(href="/") Back
    li
      a(href="/vendors/add") Add Vendor
    li
      button(id="delete-vendor-button" type="button" disabled) Delete
      dialog(id="delete-vendor-dialog") 
        p(id="delete-vendor-dialog-title")
        button(id="cancel-delete-vendor-button" type="button") Cancel
        button(id="confirm-delete-vendor-button" type="button") Delete
  table
    thead
      tr
        th
        th Name
        th Email
    tbody
      each vendor in vendors
        tr
          td
            input(data-id=vendor.id data-name=vendor.name type="checkbox")
          td=vendor.name
          td=vendor.email
block scripts
  script(src='/js/vendors/index.js')