GOOGLE_CLOUD_BACKEND_SERVICE_NAME=my-backend-service-name
GOOGLE_CLOUD_REGION=northamerica-northeast1
GOOGLE_CLOUD_PROJECT_ID=my-google-cloud-project-id
GOOGLE_CLOUD_PROJECT_NUMBER=my-google-cloud-project-number
LOG_LEVEL=info
NODE_ENV=development
PORT=3000
VENDORS_SERVICE_BASE_URL=http://localhost:8080